<%- include("partials/header.ejs") %>

<div class="row py-lg-5 py-4">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h1 class="fw-light">Welcome to BlogMe!</h1>
    <p class="lead text-body-secondary">BlogMe is website where you can feel free to share your ideas and opinions on several topics.</p>
    <p>
      <a href="/submit-post" class="btn btn-primary my-2">Write yours!</a>
      <a href="/posts" class="btn btn-secondary my-2">Read others.</a>
    </p>
  </div>
</div>


<%- include("partials/footer.ejs") %>